<div class="container">
  <div class="col-md-3">
    <p> For your security, each messaging service requires a separate authorization. Click the button of a service from which you'd like to pull in your messages and you will be taken through the steps to authorize your account. Once completed, messages will be pulled into your timeline automatically.</p>
  </div>
  <div class="col-md-9">
    <a href="#"> <button type="button" class="btn btn-primary btn-block"> Authorize Facebook </button> </a> <br><br>
    <a href="#"> <button type="button" class="btn btn-success btn-block"> Authorize Gmail </button> </a> <br><br>
    <%= link_to 'Authorize Instagram', accounts_path, { :class=> "btn btn-warning btn-block"} %> <br><br>
    <a href="#"> <button type="button" class="btn btn-danger btn-block"> Authorize Twitter </button> </a> <br><br>
    <a href="#"> <button type="button" class="btn btn-info btn-block"> Authorize SMS </button> </a> <br><br>
  </div>
</div>