<div class="col-md-10">
<div class="col-md-2 text-right">
<%= link_to 'Home', user_session_path %> |
<a href="http://www.dayoneny.org/dayone/" target="new">Day One NY    </a> | 
<%= link_to 'logout', destroy_user_session_path, {:method => "DELETE"} %>
</div>
<div class="col-md-10">
<a href="/events"><%= image_tag "dayone.png" %></a>
</div>
</div>