<div class="col-md-10">
<div class="col-md-2 text-right">
<%= link_to 'home', user_session_path %> |
<%= link_to 'logout', destroy_user_session_path, {:method => "DELETE"} %>
</div>
<div class="col-md-10">
<%= image_tag "dayone.png" %>
</div>
</div>